p {
  color:black;
  word-spacing:normal;
}

#name {
  text-align:center;
  font-size:32px;
  font-family:lato, sans-serif;
}

#header {
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
  line-height: 0.5;
}
