html * {
  font-family:Arial, sans-serif;
}

p {
  color:black;
}

#name {
  text-align:center;
  font-size:32px;
  font-family:lato, sans-serif;
}

#header {
  
}

#container {
  border-bottom-style: solid;
  border-top-style:solid;
  border-width: 1px;
}
#ca{
  float:left;
}


